* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

header {
    background-color: #ffffff;

}


.up {
    text-transform: uppercase;

}

.main-nav {
    list-style-type: none;
    float: right;
    text-align: left;
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

.main-nav li {
    display: inline-block;
    color: #333c55;
}

.main-nav li a {
    text-decoration: none;
    padding: 30px 20px;
    display: inline-block;
    height: 96px;
}

.main-nav li:hover {
    background-color: #333c55;
    transition: background-color 0.3s linear;
}

.main-nav li:hover a {
    color: #fff;
    transition: color 0.3s linear;
}

.nmg {
    position: relative;
    top: 8px;
}

.logo {
    display: inline-block;
    position: absolute;
    top: 21px;
    font-size: 0.8em;
}

#logo-distance {
    padding: 0 15px;
    position: relative;
    bottom: 15px;
    color: #333c55;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.nav-container {
    width: 1200px;
    height: 44px;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

.small {
    font-size: 75%;
}

.center {
    vertical-align: middle;
}

.bottom-header {
    background-color: #f2f0f2;
    margin-bottom: -21px;
    padding: 15px 0;
}

.bottom-header select {
    background-color: #f2f0f2;
}

.language {
    list-style-type: none;
    float: right;
}

.button {
    background-color: #e04840;
    border: 1px solid #e04840;
    color: #ffffff;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
}

.button:hover {
    background-color: #ffffff;
    color: #e04840;
    transition: 0.3s linear;
}

.cover {
    background-image: url("../img/slika.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.select {
    float: right;
}

.cover-content {
    position: relative;
    top: 100px;
    margin: auto;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); 
}

.regions {
    display: inline-block;
    font-weight: 700;
}

.ceo-menu {
    display: block;
    text-align: center;
    margin-top: 30px;
}

.menu-item {
    display: inline-block;
    margin: 0 35px;
    text-align: center;
    width: 150px;
}

.menu-item:hover {
    opacity: 0.8;
    transition: 0.3s linear;
}

.ikona {
    border: 1px solid #00c98a;
    background-color: #00c98a;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    position: relative;
    left: 25px;
}

.slika {
    width: 50px;
    position: relative;
    top: 20px;
}

.opis {
    text-align: center;
    text-decoration: none;
}

a {
    color: #333c55;
    text-decoration: none;
}

.topics {
    background-color: white;
}

.investmentprojects {
    width: 66%;
    display: inline-block;
}

.investmentprojects h2 {
    margin: 20px;
    height: 60px;
    font-size: 45px;
    display: inline-block;
    font-weight: 400;
}

.article {
    width: 49%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.bg-border {
    background-color: #f9f9f9;
    border: 1px solid red;
}

.article img {
    max-width: 100%;
    z-index: 0;
}

.news {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.middlebar {
    background: #333c55;
    border: 1px solid transparent;
    position: relative;
    bottom: 5px;
    color: #eee;
    z-index: 1;
    height: 40px;
    vertical-align: middle;
}

.middlebar-text {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 10px;
}

.middlebar img {
    width: 59px;
    height: 59px;
    float: right;
    display: inline-block;
    z-index: 2;
    position: relative;
    right: 10px;
    bottom: 10px;
    border: 5px solid white;
    border-radius: 15%;
}

.article-header {
    position: relative;
}

.sme {
    background-color: #00c98a;
    position: absolute;
    top: -25px;
    right: 40px;
    color: #fff;
    padding: 8px;
}

.article-heading {
    margin: 0;
    padding: 10px;
}

.location {
    font-weight: 400;
    padding: 15px;
}

.location img {
    width: 14px;
}

.article-paragraph {
    padding: 15px;
}


.article-footer {
    padding: 15px;
}

.circle {
    display: inline-block;
    border: 5px solid #00c98a;
    border-radius: 50%;
    text-align: center;
    width: 144px;
    height:144px;
    vertical-align: middle;
    margin-right: 15px;
}

.circle-contents {
    text-align: center;
    margin: 45px 0;
}

.data {
    display: inline-block;
    vertical-align: middle;
}

.financed-footer {
    background-color: #f2f0f2;
    border: 1px solid transparent;
    padding: 15px 0;
}

.financed-data {
    display: inline-block;
    padding: 0 15px;
}

.black {
    color: #333c55;
}

.grey {
    color: #808ca1;
}

.green {
    background-color: #00c98a;
}

.news-location {
    padding: 15px 0;
}

.location-text {
    font-size: 80%;
    padding: 2px;
}

.news-location img {
    vertical-align: middle;
    width: 29px;
    padding-right: 10px;
}

.news h2 {
    margin: 20px;
    height: 60px;
    font-size: 45px;
    font-weight: 400;
}

.news a {
    color: #00c98a;
}

.new a:hover {
    text-decoration: underline;
}

.news-article {
    display: inline-block;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.news-article img {
    display: inline-block;
    max-width: 100%;
}

.razmak {
    height: 200px;
}

.social {
    background-color: #f2f0f2;
    color: #333c55;
    padding-top: 39px;
    padding-bottom: 17px;
}

.follow-us {
    text-align: center;
    vertical-align: middle;
}


.links {
    display: block;
    text-align: center;
}

.links-container {
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
}

.link-icons {
    border: 1px solid #333c55;
    border-radius: 50%;
    background-color: #333c55;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}

.link-icons:hover {
    border-color: #00c98a;
    background-color: #00c98a;
    transition: 0.3s linear;
}

.link-icon-img {
    width: 25px;
    text-align: center;
    margin-top: 10px;
}

.footer1 {
    background-color: #333c55;
    padding: 20px 0;
}


.footer1-item {
    display: inline-block;
    margin: auto;
    width: 24%;
    padding: 10px 0;
    vertical-align: middle;
}

.footer1-item img {
    max-width: 100%;
    width: 150px;
}

.footer1-a {
    display: inline-block;
    color: #f2f0f2;
    text-decoration: underline;
    text-decoration-color: white;
}

.footer1-paragraph {
    display: inline-block;
    color: #f2f0f2;
    text-decoration: none;
}

.slash {
    margin: 0;
    border: 0;
    color: #fff;
    display: inline-block;
    -webkit-margin: 0;
}

.footer-2 {
    color: #fff;
    background-color: #333c55;
    border-top:1px solid #808ca1;
    padding: 30px;
}

.supporters {
    display: block;
    padding-top: 10px;
}

.slogo {
    display: inline-block;
    opacity: 0.6;
    padding: 10px;
    width: auto;
    text-align: center;
}

.slogo:hover {
    opacity: 1;
}

