.container {
    width: 1000px;
}

.nav {
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
    width: 800px;
}

.nav li {
    display: inline;
    padding: 5px;
}

.nav li a {
    text-decoration: none;
    padding: 5px 0;
    width: 100px;
    height: 100px;
    float: right;
    background: #333c55;
    color: #fff;
    text-align: center;
    border: 1px solid fff;
}


.nav li a:hover {
    background-color: #fff;
    color: #333c55;
}

/*
ul#list-nav {
    list-style: none;
    margin: 20px auto;
    padding: 0px;
    width: 800px;
}

ul#list-nav li {
    display: inline;
}

ul#list-nav li a {
    text-decoration: none;
    padding: 5px 0;
    width: 100px;
    float: left;
    background: #485e49;
    color: #eee;
    text-align: center;
    border-left: 1px solid #fff;
}

ul#list-nav li a:hover {
    background: #a2b3a1;
    color: #000
}*/